.button {
    padding: .3rem .7rem;
    border: 2px solid var(--dark);
    background: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    color: var(--dark);
    text-decoration: none;
    margin: .25rem;
    font-size: 1rem;
    width: max-content;
    height: max-content;
    display: inline-block;
    
    &.cta {
        background: var(--action);
    }
    
    &:hover {
        background-color: var(--dark);
        color: var(--light);
    }
}