form {
    .form-group {
        label {
            display: inline-block;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
        }

        input,
        textarea,
        select {
            display: inline-block;
            width: 100%;
            min-width: 200px;
            max-width: 600px;
            border: 1px solid var(--dark);
            padding: 1rem;
            border-radius: 0.5rem;
            &::focus {
                border: 3px solid var(--dark);
            }
        }

        select {
            padding: 0;
            > option {
                padding: 0.5rem;
            }
        }

        textarea {
            resize: vertical;
        }

        &.flex {
            label,
            input {
                width: auto;
                margin: 0;
            }
        }
    }
    fieldset {
        max-height: 1000px;
        padding: 1rem;
        margin-bottom: 1rem;
        overflow: hidden;
        cursor: pointer;
        &.hide {
            max-height: 0;
        }
    }
}
