.profile {
    padding: 3rem;
}
#profile {
    .profile-experience {
        position: relative;
        border: 1px solid var(--dark);

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        .skill-list {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            bottom: 0;
            right: 0;
            padding-bottom: 1rem;
            padding-right: 1rem;

            li {
                color: var(--dark);
                margin: 0 0.2rem;
                font-style: italic;

                &::before {
                    content: "#";
                }
            }
        }
    }
}
